# Godot specific
.import/
export.cfg
*.gd
*.tscn
*.tres
*.res
*.godot
*.pck

# Compiled files
*.import/
*.d
*.so
*.dll
*.exe
*.pdb
*.app

# User-specific files
/.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Build directory
build/
bin/
